@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Arizonia&family=Bangers&family=Berkshire+Swash&family=Concert+One&family=Dancing+Script:wght@700&family=Fleur+De+Leah&family=Fredericka+the+Great&family=Great+Vibes&family=Henny+Penny&family=Mea+Culpa&family=Orelega+One&family=Oswald:wght@500;700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Smokum&family=Special+Elite&family=Stint+Ultra+Condensed&family=Water+Brush&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  color: red;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  padding-right: 2rem;
}
.firstNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(79, 77, 77);
  padding: 1rem;
}

.secondNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(48, 47, 47);
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}
.topMovie {
  min-height: 60vh;
  background-image: url(./assets/topMovie.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topMovie .topMovieContent {
  color: whitesmoke;
  position: absolute;
  left: 55%;
  font-size: 2rem;
  padding: 1rem;
}
.topMovie .topMovieContent p {
  font-size: 3rem;
  padding: 1rem 0;
}
.topMovie .topMovieContent a {
  background-color: rgb(79, 77, 77);
  color: whitesmoke;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  /* box-shadow: 2px 2px 10px white, inset 2px 2px 10px white; */
}
.childMovie {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.kidsMov {
  width: calc(98% / 3);
  background-color: aliceblue;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  position: relative;
}
.childMovies1 {
  background-image: url(./assets/kid1.jpg);
  background-size: cover;
}
.childMovies2 {
  background-image: url(./assets/kid2.jpg);
  background-size: cover;
}
.childMovies3 {
  background-image: url(./assets/kid3.jpg);
  background-size: cover;
}
.childMovies4 {
  background-image: url(./assets/kid4.jpg);
  background-size: cover;
}
.childMovies5 {
  background-image: url(./assets/kid5.jpg);
  background-size: cover;
}
.childMovies6 {
  background-image: url(./assets/kid6.jpg);
  background-size: cover;
}
.kidsMov i {
  font-weight: 700;
  font-size: 8rem;
  color: rgba(231, 14, 14, 0.7);
  position: absolute;
  bottom: 0;
  right: 5px;
}
.topMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.topMovies a {
  color: whitesmoke;
  background-color: rgb(35, 34, 34);
  border-radius: 5px;
  padding: 0 0.5rem;
  /* box-shadow: 2px 2px 10px white, inset 2px 2px 10px white; */
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.4rem;
}
/* secdtion 2 geteilt 6  */
.movie {
  width: calc(95% / 6);
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}
.movie1 {
  background-image: url(./assets/hausdesgeldes.jpg);
  object-fit: cover;
  background-size: 100%;
}

.movie2 {
  background-image: url(./assets/movie2.jpg);
  object-fit: cover;
  background-size: 100%;
}
.movie3 {
  background-image: url(./assets/movie3.jpg);
  object-fit: cover;
  background-size: 100%;
}

.movie4 {
  background-image: url(./assets/movie4.jpg);
  object-fit: cover;
  background-size: 100%;
}

.movie5 {
  background-image: url(./assets/movie5.jpg);
  object-fit: contain;
  background-size: 100%;
}
.movie6 {
  background-image: url(./assets/movie6.jpg);
  object-fit: cover;
  background-position: center;
}
.next {
  padding: 0.7rem;
  float: right;
}
button {
  background-color: rgb(35, 34, 34);
  font-size: 2rem;
  color: whitesmoke;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  border: none;
  /* box-shadow: 2px 2px 10px white, inset 2px 2px 10px white; */
}
